/* Parents */
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 2;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    margin: 0 50rem 0 5rem;
    line-height: 7rem;
}
h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    line-height: 7rem;
}
p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* font-weight: 2; */
    font-size: 2rem;
    line-height: 3rem;
}
img {
    max-width: 100%;
}
/* a {
    color: #FFD577;
}
a:hover {
    text-decoration: none;
} */




/* Nav bar */
nav{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
nav ul {
    display:flex;
    flex-direction:row;
}
/* nav .logo {
    padding: 2rem;
} */
nav .item{
    display: flex;
    padding: 2rem;
}
nav img {
    max-width: 200px;
    padding: 2rem 1rem;
}

header {
    background-color: #2E2E2E;
    color: #FFD577;
    /* padding: 0; */
}
/* nav div {
    text-align: center;
}

nav .item{
    display: flex;
    padding: 6rem 3rem 1rem 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}
nav li {
    font-size: 1rem;
    padding: 1rem;
}
nav img {
    max-width: 200px;
    padding: 2rem;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #d98555;
} */





/* Body */
.main-bkgd {
    background: #ffffff url("images/animation.png");
    height: 20px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 800px;
}
.main {
    margin: 0 auto;
    padding: 2rem;
}
/* article {
    flex-basis: 50%;
}
figure {
    margin: 3rem 0 0 0;
    padding: 0;
} */
/* figure img {
    border-radius: 10px;
    margin: 0;
    padding: 0;
} */
.button {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    background-color: #FFD577;
    border-radius: 10px;
    padding: 0.5rem 6rem;
    margin-left: 5rem;
    color: #2E2E2E;
    text-decoration: none;
    /* border: 3px solid #59331d; */
}
.button:hover {
    background-color: #fcad00;
}

.tabs {
    background-color:#ffffff;
    padding: 0 0 3rem 7rem;
}

tabs > img:hover {
    background: #ffffff url("images/animation.png");
}

.content {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2rem 9rem 2rem 7rem;
}

/* card {
    padding-right: 7rem;
} */

/* p.content {
    padding: 2rem 2rem 2rem 10rem;
} */

/* content.img {
    padding-right: 7rem;
} */

text {
    flex-basis: 40%;
    /* padding-left: 5rem; */
}



/* Footer */
footer {
    background: #ffffff url("images/footer.png") no-repeat;
    padding-bottom: 550px;
}





/* For medium screens */
/* @media (min-width: 768px) {
    nav div {
        text-align: center;
    }
    nav .item {
        display: inline-block;
    }

    .main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    figure {
        margin: 3rem 0 0 0;
        flex-basis: 45%;
    } 
} */

/* For large screens */
/* @media (min-width: 992px) {
    nav{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    nav ul {
        display:flex;
        flex-direction:row;
    }
    nav .logo {
        padding: 2rem;
    }
    nav .item{
        display: flex;
        padding: 6rem 3rem 1rem 1rem;
    }

    .main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    figure {
        margin: 3rem 0 0 0;
        flex-basis: 45%;
    }
} */